@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Lato:wght@300;400;700&family=Roboto+Slab:wght@400;700&display=swap");

:root {
  --color1: #ff8126;
  --color2: #1f1f1f;
  --white: white;

  --fontBase: "Poppins", sans-serif;
  --fontAccent: "Cormorant", serif;
}

body {
  background-color: white;
  color: #1f1f1f;
}
.header-adv {
  background-color: #c2e8ce;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.header-main {
  display: flex;
  justify-content: space-between;
}
.navbar {
  background-color: white !important;
}
.navbar-brand {
  margin-right: 30px;
}
.navbar-nav {
  gap: 20px;
}
.form-select-sm {
  font-size: 15px !important;
  max-width: 150px;
}
.form-select {
  border: 0;
}
select:active,
select:focus {
  outline: none;
}

.menu-item {
  width: 100px;
}

.text {
  color: #ff8126;
  font-family: var(--fontAccent);
}

.navbar-buttons {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
